@import url('https://fonts.googleapis.com/css2?family=Erica+One&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
.main-div {
    height: 100vh;
    width: 100vw;
    background-color: #fcd5ce;
    display: flex;
    flex-direction: column;
}

nav {
    background: #FFB5A7;
}

#logo {
    margin: 15px;
    transform: scale(1.5);
    
}

h3 {
    margin: 15px;
    font-family: 'Kanit', sans-serif;
    color: #7e420d;
}

.instructions-div {
    background-color: #f8edeb;
    margin: 20px;
    padding: 20px;
    color: #ba6113;
}

.instructions-title {
    font-family: 'Kanit', sans-serif;
}

.instructions-text {
    font-family: 'Nunito', sans-serif;
}

.add-new {
    border-radius: 50%;
    background-color: #ffb5a7;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;

}
